# Module 4 - Assignment 1 - Data Structure

In [1]:
import numpy as np

1. Create a list named ‘myList’ that is having the following elements: 10,20,30,’apple’, True,
8.10.
a. Now in the ‘myList’, append these values: 30,40
b. After that reverse the elements of the ‘myList’ and store that in ‘reversedList’

In [2]:
myList = [10, 20, 30, 'apple', True, 8.10]
myList

[10, 20, 30, 'apple', True, 8.1]

In [3]:
myList.extend([30,40])
myList

[10, 20, 30, 'apple', True, 8.1, 30, 40]

In [4]:
reversedList = myList[::-1]
reversedList

[40, 30, 8.1, True, 'apple', 30, 20, 10]

2. Create a dictonary with key values as 1,2,3 and the values as ‘data’,’information’, and ‘text’.
a. After that eliminate the ‘text’ value form the dictonary.
b. Add ‘features’ in the dictonary.
c. Fetch the ‘data’ element from the dictonary and display it in the output.

In [5]:
dict = {1:'data',2:'information',3:'text'}
dict

{1: 'data', 2: 'information', 3: 'text'}

In [6]:
del dict[3]
dict

{1: 'data', 2: 'information'}

In [7]:
dict[3]='features'
dict

{1: 'data', 2: 'information', 3: 'features'}

In [8]:
dict[1]

'data'

3. Create a tuple and add these elements 1,2,3,apple,mango in ‘my_tuple

In [9]:
my_tuple = 1, 2, 3, 'apple', 'mango'
my_tuple, type(my_tuple)

((1, 2, 3, 'apple', 'mango'), tuple)

4. Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50
a. Find the minimum value from the numeric_tuple.
b. Concatenate my_tuple with numeric_tuple and store the result in r1.
c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’

In [10]:
numeric_tuple = 10, 20, 30, 40, 50
numeric_tuple, type(numeric_tuple)

((10, 20, 30, 40, 50), tuple)

In [11]:
min(numeric_tuple)

10

In [12]:
r1 = my_tuple + numeric_tuple
r1, type(r1)

((1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50), tuple)

In [13]:
newdupli = my_tuple * 2
newdupli, type(newdupli)

((1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango'), tuple)

5. Create 2 sets with name set1 and set2, where set1 contains{1,2,3,4,5} and set2 to
contains{2,3,7,6,1}
a. Perform the below operation:
a. set1 union set2
b. set1 intersection set2
c. set1 difference set2

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 7, 6, 1}

In [15]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [16]:
set1.intersection(set2)

{1, 2, 3}

In [17]:
set1.difference(set2)

{4, 5}