# Module 7 - Hands On 1 - Data Processing

Step 4: Import the required packages and create a list.

In [1]:
import numpy as np
import pandas as pd

In [2]:
num_list = [1, 2, 3, 4, 5]

Step 5: Print the type of the variable.

In [3]:
type(num_list)

list

Step 6: Create and reshape a numpy array.

In [4]:
arr = np.array ([1, 2, 3, 4, 5, 6])

In [5]:
arr

array([1, 2, 3, 4, 5, 6])

In [6]:
arr = arr.reshape(2,3)

In [7]:
arr

array([[1, 2, 3],
       [4, 5, 6]])

Step 7: Create a numpy array filled with zeroes and a numpy array with values from 1 to 9 and reshape it.

In [8]:
np.zeros((1,3))

array([[0., 0., 0.]])

In [9]:
np.arange(1,10).reshape(3,3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [10]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

Step 8: Create a Data Frame using a 1d list and a 2d list.

In [11]:
pd.DataFrame([1, 2, 3, 4])

   0
0  1
1  2
2  3
3  4

In [12]:
pd.DataFrame([[1, 2, 3], ['a', 'b', 'c']])

   0  1  2
0  1  2  3
1  a  b  c

Step 9: Create a Data Frame using a dictionary.

In [13]:
pd.DataFrame({'ID': [1, 2, 3], 'Name': ['A', 'B', 'C']}).set_index('ID')

   Name
ID
1     A
2     B
3     C