# Case Study Problem 2 - Introduction To Python

# Module 1 Introduction to Python Assignment - 2

In [1]:
#1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
    #a. Concatenate the two tuples and store it in “t_combine”
    #b. Repeat the elements of “t_combine” 3 times
    #c. Access the 3rd element from “t_combine”
    #d. Access the first three elements from “t_combine”
    #e. Access the last three elements from “t_combine”

In [2]:
t1 = 10, 20, 30
t2 = 40, 50, 60
t_combine = t1 + t2
t_combine

(10, 20, 30, 40, 50, 60)

In [3]:
t_combine * 3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [4]:
t_combine[2]

30

In [5]:
t_combine[0:3]

(10, 20, 30)

In [6]:
t_combine[-3:]

(40, 50, 60)

In [7]:
#2. Create a list ‘my_list’ with these elements:
    #a. First element is a tuple with values 1,2,3
    #b. Second element is a tuple with values “a”,”b”,”c”
    #c. Third element is a tuple with values True,False

In [8]:
my_list = [(1,2,3),('a','b','c'),(True,False)]

In [9]:
type(my_list)

list

In [10]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [11]:
type(my_list[0])

tuple

In [12]:
type(my_list[1])

tuple

In [13]:
type(my_list[2])

tuple

In [14]:
#3. Append a new tuple – (1,’a’,True) to ‘my_list’
    #a. Append a new list – [“sparta”,123] to my_list

In [15]:
my_list.append((1,'a',True))

In [16]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [17]:
type(my_list[3])

tuple

In [18]:
my_list.append(['sparta',123])

In [19]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [20]:
type(my_list[4])

list

In [21]:
#4. Create a dictionary ‘fruit’ where:
    #a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
    #b. The second key is ‘Cost’ and the values are (85,54,120,70)
    #c. Extract all the keys from ‘fruit’
    #d. Extract all the values from ‘fruit’

In [22]:
fruit = {'Fruit':['Apple','Banana','Mango','Gauva'],'Cost':[85,54,120,70]}

In [23]:
fruit

{'Fruit': ['Apple', 'Banana', 'Mango', 'Gauva'], 'Cost': [85, 54, 120, 70]}

In [24]:
fruit.keys()

dict_keys(['Fruit', 'Cost'])

In [25]:
fruit.values()

dict_values([['Apple', 'Banana', 'Mango', 'Gauva'], [85, 54, 120, 70]])

In [26]:
#5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [27]:
my_set = {1,1,'a','a',True,True}

In [28]:
my_set

{1, 'a'}

In [29]:
type(my_set)

set

In [30]:
#Since set can only take unique values, duplicate 1 and a haven't been taken and both True haven't been taken