# Module 8 - Supervised Learning - Assignment 1 - Linear Regression

You work in XYZ Company as a Python Data Scientist. The company officials have collected some data on salaries based on year of experience and wish for you to create a model from it. Dataset: data.csv

Tasks to be performed:
    1. Load the dataset using pandas
    2. Extract data from YearsExperience column in a variable named X
    3. Extract data from salary column is a variable named Y
    4. Divide the dataset into two parts for training and testing in 66% and 33% proportion
    5. Create and train LinearRegression Model on training set
    6. Make predictions based on the testing set using the trained model
    7. Check the performance by calculating the r2 score of the model

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.shape

(30, 2)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
data.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [6]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [7]:
X = data[['YearsExperience']]
Y = data[['Salary']]

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.66, random_state = 0)

In [9]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((19, 1), (11, 1), (19, 1), (11, 1))

In [10]:
linreg = LinearRegression()

In [11]:
linreg.fit(X_train, Y_train)

LinearRegression()

In [12]:
Y_pred = linreg.predict(X_test)

In [13]:
print('Mean Absolute Error:', mean_absolute_error(Y_test, Y_pred))
print('Mean Squared Error:', mean_squared_error(Y_test, Y_pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(Y_test, Y_pred)))

Mean Absolute Error: 3352.0271062423026
Mean Squared Error: 19421097.588238083
Root Mean Squared Error: 4406.937438657154

In [14]:
print('R2 Square:', r2_score(Y_test, Y_pred))

R2 Square: 0.9766870911747516